	* 
		padding: 0
		margin: 0
	body{
		width 100%
		padding 50px
		border 50px solid blue
	}
	.box0 
		position: relative;
		width 1000px
		height 250px
		// box-sizing border-box
		border: 20px solid #000;
		text-align center
		padding 50px
		.box2
			display block
			height 100px
			width 50%
			border 5px solid #FB13E6;
			border-width 10%
			// position absolute
			z-index 100
	