* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  padding: 50px;
  border: 50px solid #00f;
}
.box0 {
  position: relative;
  width: 1000px;
  height: 250px;
  border: 20px solid #000;
  text-align: center;
  padding: 50px;
}
.box0 .box2 {
  display: block;
  height: 100px;
  width: 50%;
  border: 5px solid #fb13e6;
  border-width: 10%;
  z-index: 100;
}
